<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uN7KxRMVSvHRlmPEbI8yNUN67zk51ApO"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <script src="/../js/jquery.min.js?v=2.1.4"></script>

    <style type="text/css">
        html {height: 100%;}
        body{height: 100%; margin: 0px; padding: 0px;}
        #container{height: 100%}
    </style>
</head>
<body>

<h1 style="margin-left:10%;margin-top:10%;font-size: 48px;color: lightgray">欢迎使用</h1>

</body>
<script type="text/javascript">
</script>
</html>